name: test

on:
  pull_request:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up sd
        uses: ./

      - name: Run sd
        run: |
          sd --help
